snippet fold "start a foldable section"

/* START : ${1:FOLD NAME} {{{  */


/* END : $1 }}}  */

endsnippet



snippet vf "fold highlighted"

/* START : ${1:FOLD NAME} {{{  */

${2:${VISUAL:text}}

/* END : $1 }}}  */

endsnippet


